.header {
  padding: 24px 16px 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: white;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__logo {
    height: 45px;
    width: fit-content;
  }

  &__button {
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    margin-top: -5px;
    cursor: pointer;
  }

  &__modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    margin: 0 5%;
    background: transparent;

    & > app-task-form {
      background: #ffffff;
      padding: 24px 20px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
      width: 100%;
      max-width: 480px;
    }

    &-backdrop {
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 20;
    }
  }
}