.task-status {
  margin: 0;
  font-size: 14px;
  color: #374151;
  padding: 4px 12px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 500;
  width: fit-content;

  &--pending {
    background-color: #e5e7eb;
    color: #374151;
  }

  &--in-progress {
    background-color: #fef3c7;
    color: #92400e;
  }

  &--done {
    background-color: #d1fae5;
    color: #065f46;
  }
}
